<h1>Show page for <%= character.name %></h1>

<p><%= character.profession %></p>
<p><%= character.race %></p>
<p><%= character.gender %></p>
<p><a href="/characters/<%= character._id %>/inventory">Inventory</a></p>
<p><a href="/characters/<%= character._id %>/journal">Journals</a></p>

<a href="/characters">Go Back</a>
<a href="/characters/<%= character._id %>/edit">Edit</a>
<form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>