<h1>Inventory Index Page</h1>

<p><a href="/characters/<%= character._id %>/inventory/new">New Inventory Item</a></p>
<p><a href="/characters/<%= character._id %>">Go Back</a></p>

<% character.inventory.forEach(function(inventory){ %>
    <div>
        <a href="/characters/<%= character._id %>/inventory/<%= inventory._id %>"><h3><%= inventory.name %></h3></a>
    </div>
<% }); %>