<h1>Journal Page</h1>

<a href="/characters/<%= character._id %>/journal/new">New Journal Entry</a>

<% journals.forEach(function(journal){ %>
    <div>
        <a href="/characters/<%= character._id %>/journal/<%= journal._id %>"><h3><%= journal.title %></h3></a>
        <p><%= journal.content %></p>
    </div>
<% }); %>