<h1>Journal Page</h1>

<a href="/characters/<%= character._id %>/journal/new">New Journal Entry</a>

<% character.journals.forEach(function(journal){ %>
    <div>
        <h3><a href="/characters/<%= character._id %>/journal/<%= journal._id %>"><%= journal.title %></a></h3>
        <p><%= journal.content %></p>
    </div>
<% }); %>