<h1><%= journal.title %></h1>

<p><%= journal.content %></p>

<a href="/characters/<%= character_id %>/journal">Go Back</a>
<a href="/characters/<%= character_id %>/journal/<%= journal._id %>/edit">Edit</a>
<form action="/characters/<%= character_id %>/journal/<%= journal._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>